/* Réorganiser le CSS après */
html {
    background-image: url(img/background_12v2.jpg);
    background-size: cover;
}

/* ----------------- HEADER ----------------- */
h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 100;
    font-size: 12vh;
    margin: 5vh 0 0;
    color: #4D9151;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #4D9151, #90CE33, #FF96A6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1::before, h1::after {
    display: inline-block;
    content: "";
    background: url(img/sunflower.png);
    /*border-top: 1px solid #DEDEDE;*/
    width: 64px;
    height: 64px;
    margin: -10px 30px;
    -webkit-animation: rotation 6s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 5vh;
    letter-spacing: 1px;
    margin: -3vh 0 5vh;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 6px black;
}

/* ----------------- COLUMNS ----------------- */
.column {
    display: inline-block;
    width: 40vw;
    text-align: center;
}

#content {  
}

/* ----------------- CLICKER & SCORE ----------------- */
.clicker_box {
    margin-left: 5vw;
}
#score_box > p {
    color: #90CE33;
    font-size: 7.5vh;
    font-family: 'Amatic SC', cursive;
    margin: -4vh 0 0;
}

#clicker {
    transform: scale(0.6);
    transition: 0.5s;
    outline: none;
}
#clicker:hover {
    transform: rotate(7deg) scale(0.6);
}
#clicker:active {
    transform: rotate(7deg) scale(0.5);
}

#display {
    color: #4D9151;
    font-family: 'Amatic SC', cursive;
    font-size: 7.5vh;
}

#little_leaves {
    background-image: url(img/leaves.png);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 75vh;
    right: 35vw;
    transform: rotate(40deg);
    opacity: 0;
    z-index: -1;
}

/* ----------------- INFOS ----------------- */
.info_box {
    float: left;
    /*padding: 15vh 0 10vh;*/
    background-color: RGBA(255, 255, 255, 0.8);
    border-radius: 100%;
    height: 70vh;
    width: 35vw;
    position: relative;
    bottom: 5vh;
    left: 1vw;
}

#cost, #autoClickCost, #flowerPowerCost {
    color: #F2576E;
    font-family: 'Amatic SC', cursive;
    font-size: 3.7vh;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2vh 0;
}
#cost {
    margin: 8.5vh auto 2vh;
    width: 25vw;
}

button {
    border: 1px solid #90CE33;
    background: none;
    color: #90CE33;
    font-family: 'Amatic SC', cursive;
    font-size: 3.7vh;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 4vh;
    transition: 0.5s;
    outline: none;
}
button:hover:enabled {
    transform: scale(1.1) rotate(-2deg);
    color: #F2576E;
}
button:disabled {
    color: darkgray;
    border-color: darkgray;
    cursor: default;
}