/* Réorganiser le CSS après */
html {
    background-image: url(img/background_12v2.jpg);
    background-size: cover;
}

/* ----------------- HEADER ----------------- */
h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 100;
    font-size: 12vh;
    margin: 5vh 0 0;
    color: #4D9151;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #4D9151, #90CE33, #FF96A6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 5vh;
    letter-spacing: 1px;
    margin: -3vh 0 5vh;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 6px black;
}

/* ----------------- COLUMNS ----------------- */
.column {
    display: inline-block;
    width: 40vw;
    text-align: center;
}

#content {  
}

/* ----------------- CLICKER & SCORE ----------------- */
.clicker_box {
}
#score_box > p {
    color: #90CE33;
    font-size: 7.5vh;
    font-family: 'Amatic SC', cursive;
    margin: -4vh 0 0;
}

#clicker {
    transform: scale(0.6);
    transition: 0.5s;
}
#clicker:hover {
    transform: rotate(7deg) scale(0.6);
}
#clicker:active {
    transform: rotate(7deg) scale(0.5);
}

#display {
    color: #4D9151;
    font-family: 'Amatic SC', cursive;
    font-size: 7.5vh;
}

/* ----------------- INFOS ----------------- */
.info_box {
    float: left;
    padding: 15vh 0 10vh;
    background-color: RGBA(255, 255, 255, 0.8);
    border-radius: 100%;
    height: 60vh;
}

#cost, #autoClickCost, #flowerPowerCost {
    color: #F7AFBA;
    font-family: 'Amatic SC', cursive;
    font-size: 3.7vh;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2vh 0;
}

button {
    border: 1px solid #90CE33;
    background: none;
    color: #90CE33;
    font-family: 'Amatic SC', cursive;
    font-size: 3.7vh;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 6vh;
    transition: 0.5s;
}
button:hover:enabled {
    transform: scale(1.1) rotate(-2deg);
    color: #F7AFBA;
}
button:disabled {
    color: darkgray;
    border-color: darkgray;
    cursor: default;
}